body {
  font-family: NanumSquareRound;
  background-color: #EFEFEF;
}

.App {
  justify-content: center;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 100px;
}

.App h1 {
  text-align: center;
  font-weight: bold;
}
