body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: NanumSquareRound serif;
  background-color: #EFEFEF;
}

code {
  font-family: 'Droid Sans Mono for Powerline',
    monospace;
}
